.result_specialty_column_rd {
	width: 10%;
}

.result_addl_prov_info_column_rd {
	width: 10%;
}

.result_more_info_column_rd {
	width: 50%;
}

.result_specialty_top_rd {
	width: 10%;
}

.result_addl_prov_info_top_rd {
	width: 10%;
}

.result_more_info_top_rd {
	width: 45%;
}

.result_specialty_bottom_rd {
	width: 10%;
}

.result_addl_prov_info_bottom_rd {
	width: 10%;
}

.result_more_info_bottom_rd {
	width: 45%;
}

.result_addl_prov_info_column_active_rd {
	width: 10%;
}