<section class="team-section text-center my-5">
    <div class="container">
        <p class="grey-text w-responsive mx-auto mb-5">We are a team of graduate students at USC. We are working on this cause as it matters to both of us. Connect with us if you want to hear more about our work, collaborate or volunteer with us!</p>
    </div>
    <div class="row text-center">
  
      <div class="col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="http://medmaps.co/website_images/jaya.jpg" class="rounded z-depth-1-half" alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold dark-grey-text my-4">Jaya Rajwani</h3>
        <h4 class="text-uppercase grey-text mb-3">
          <strong>MS CS Artificial Intelligence</strong>
        </h4>
        <h4>Email: jrajwani@usc.edu</h4>
        <h4>LinkedIn: <a href="https://www.linkedin.com/in/jayarajwani/">https://www.linkedin.com/in/jayarajwani/</a></h4>
       
      </div>
      <div class="col-md-6 mb-md-0 mb-5">
        <div class="avatar mx-auto">
          <img src="http://medmaps.co/website_images/supreeth.jpg" class="rounded z-depth-1-half" alt="Sample avatar">
        </div>
        <h3 class="font-weight-bold dark-grey-text my-4">Supreeth Kabbin</h3>
        <h4 class="text-uppercase grey-text mb-3">
          <strong>MS CS Data Science</strong>
        </h4>
        <h4>Email: skabbin@usc.edu</h4>
        <h4>LinkedIn: <a href="https://www.linkedin.com/in/supreethkabbin/">https://www.linkedin.com/in/supreethkabbin/</a></h4>
       
      </div>
    </div>
  </section>
