<ngb-alert style="text-align: center;"> This website is an independent project and has no association with USC Health Centre or the Aetna Student Health Insurance </ngb-alert>

<section class="banner_part">
    <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-5 col-xl-5">
            <div class="banner_text">
              <div class="banner_text_iner">
                <h1>Understand Your Insurance Plan & Access The Healthcare You Deserve</h1>
              </div>
            </div>
          </div>
        <div class="col-lg-7">
          <div class="banner_img">
            <img src="http://medmaps.co/website_images/banner_img.svg" alt="">
          </div>
        </div>
      </div>
    </div>
</section>

<section class="about_us padding_top">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 col-lg-6 col-sm-3">
        <div class="about_us_img">
          <img src="http://medmaps.co/website_images/health_coverage.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-lg-5 col-sm-9">
        <div class="about_us_text">
          <h2>About us</h2>
          <p>We are a social impact project creating a virtual healthcare consultant that allows users to understand their healthcare insurance
            plans, find required healthcare in their neighbourhood and get a breakdown of healthcare costs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features_part section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="section_tittle text-center">
          <h1> Features</h1>
          <p>The Application has the following features</p>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-4">
          <div class="single_blog_item">
            <div class="single_blog_img">
              <img src="http://medmaps.co/website_images/feature1.png" alt="feature1">
            </div>
            <div class="single_text">
              <div class="single_blog_text">
                <h3>Understand Your Health Plan</h3>
                <p>Don’t understand your insurance plan and it’s terminologies? Don’t worry. Our platform got you covered! We make it easier for you to understand all information in your health plan in an easier way</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-lg-4">
          <div class="single_blog_item">
            <div class="single_blog_img">
              <img src="http://medmaps.co/website_images/feature2.png" alt="feature2">
            </div>
            <div class="single_text">
              <div class="single_blog_text">
                <h3>Find your provider</h3>
                <p>What happens when you want to access services included in your health plan? We help you understand costs covered for each healthcare service and allow you to find your service provider</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-lg-4">
          <div class="single_blog_item">
            <div class="single_blog_img">
              <img src="http://medmaps.co/website_images/feature3.png" alt="feature3">
            </div>
            <div class="single_text">
              <div class="single_blog_text">
                <h3>Track your expenses</h3>
                <p>Worried how much you’re spending on healthcare? We help you track your expenses including your insurance dues</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
