<div class="container">
    <mat-toolbar>
        Let's see what are the most important healthcare insurance terminologies that you should be aware of! <br>
    </mat-toolbar>
</div>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let terminology of terminologies">
        <mat-card class="mat-elevation-z4" (mouseover)="toggleHover(terminology[0])" (mouseleave)="removeHover()">
          <mat-card-header>
            <mat-card-title>{{terminology[0]}}</mat-card-title>
          </mat-card-header>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DBTmNm8D-84" allowfullscreen></iframe>
          </div>
          <mat-card-content *ngIf="hoveredElement === terminology[0]">
          <p>
                {{terminology[1]}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>



<footer class="page-footer font-small blue pt-4">
    <div class="footer-copyright text-center py-3">© Video Copyright:
      <a href="https://www.youtube.com/channel/UCOClvgLYa7g75eIaTdwj_vg">Consumer Reports</a>
    </div>
</footer>